.container
    center(1150px, 10px)
    
    div
        box-style()
        +above(600px)
            col(1/2, cycle: 2)
        
        +above(900px)
            col(1/4, cycle: 4, unycycle: 2)
        p
            padding 10px
            font-size 18px
            
        