@import 'jeet'

box-style()
    box-sizing border-box
    border 1px solid #ccc
    margin-bottom 10px
    
body
    margin  0
    padding 0
    line-height 1.5
    
h1
    font-weight 600
    
h3, h4
    font-weight normal
    
p, h3
    font-style italic